nav ul ul {
display: none;
}
nav ul li:hover > ul {
display: block;
}
        
nav ul {
background: #efefef; 
background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
padding: 0 20px;
border-radius: 4px;  
list-style: none;
position: relative;
display: inline-table;
}
nav ul:after {
content: ""; clear: both; display: block;
	}
nav ul li {
float: left;
}
nav ul li:hover {
background: #4b545f;
background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {
color: #fff;
}
nav ul li a {
display: block; padding: 25px 40px;
color: #757595; text-decoration: none;
}
nav ul ul {
background: #5f6975; border-radius: 7px; padding: 0;
position: absolute; top: 100%;
}
av ul ul li {
float: none; 
border-top: 1px solid #6b727c;
border-bottom: 1px solid #575f6a;
position: relative;
}
nav ul ul li a {
padding: 15px 40px;
color: #fff;
}	
nav ul ul li a:hover {
background: #4b545f;}
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}   
body
        { 
            background-color: #1D1D1D;
            background-image: url('/assessments/pictures/alc.jpg');
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position:100%;
            background-size: 100%;
            color: #111145;
            text-align:center;
        }
        p{
            color:#efefef;
            position:static;
        }
        #hist{
            background-image: url('/assessments/pictures/alc.jpg');
            positoin:absolute;
        }
        h2{
            
            margin-top: 8%;
            margin-bottom:0;
            margin-left:0;
            margin-right:0;
            color:#bbbbbb
        }
        h3{
            color:appworkspace
        }
        #logo{
            float:left;
    margin-top: -4.5%;
    margin-bottom:0;
    margin-left:1%;
   margin-right:0;
    position: relative; 
    width: 150px; 
    height: 150px; 
    padding: 1px; 
    
        }
        ol{
            font-weight: bold;
            position:absolute;
            margin-top: 4%;
            margin-bottom:0;
            margin-left:6%;
            margin-right:0;
            text-align: left;
            color:white;
        }
        footer a{
            color:#bbbbbb;
            
        }